/* Sidebar */


#sidebar {
	float: left;
	width: 25%;
	background-repeat: repeat-x;
	background-position: left top;
	border-top-width: 2px;
	border-bottom-width: 2px;
	padding-right: 0px;
	padding-bottom: 0px;
	margin-left: -15px;
	padding-top: 30px;







}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: "Franklin Gothic Book";
	font-size: 16px;
	color: #333300;
	display: block;


}

#sidebar li {
	margin: 0;
	padding: 0;
	list-style-position: inside;
	display: block;



}

#sidebar li ul {
	margin-top: 0px;
	margin-bottom: 0px;

}

#sidebar li li {
	padding-left: 15px;
	line-height: 35px;
	background: no-repeat left 14px;
}

#sidebar li li span {
	display: block;
	margin-top: -20px;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#sidebar h2 {
	height: 38px;
	margin-bottom: 20px;
	padding: 12px 0 0 15px;
	letter-spacing: -1px;
	font-size: 24px;
	color: #330033;
}

#sidebar p {
	margin: 0 0px;
	padding: 0px 20px 20px 20px;
	text-align: justify;
}

#sidebar a {
	border: 1px solid #A28240;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #330033;
	text-transform: uppercase;
	text-shadow: #808080 -1px 2px 3px;
	padding: 3px;
	text-align: center;
	list-style-position: inside;
	background-repeat: repeat;
	background-position: left top;
	width: 180px;
	background-image: url(-1alink.png);
	margin: 3px 3px 3px 5px;
	display: block;





-moz-border-radius: 2em 2em 2em 2em;
border-radius: 2em 2em 2em 2em;


}

#sidebar a:hover {
	text-decoration: none;
	color: #3E6037;
	background-repeat: repeat;
	background-position: left top;
	margin-top: 5px;
	margin-bottom: 5px;
	border: 1px solid #C09D7E;
	margin-left: auto;
	padding: 3px;
	background-image: url(1-a-trans.png);
	margin-right: auto;


	



}
